.main-div{
    display: flex;
    position: relative;
    right: 150px;
    position: relative;
    top: 70px;
}
.child-1{
    border-radius: 50%;
    background-color: rgb(236, 127, 38);
    color: white;
    width: 200px;
    height: 200px;
    position: relative;
    right: 290px; 
     top: 30px;
    }

.circle-content{
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main-child{
  position: relative;
  right: 130px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.para{
  width: 620px;
}
h5{
  color: rgb(250, 114, 3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-c1{
  display: flex;
  gap: 10px;
}

.circle-icon{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(250, 114, 3);
  background-color: whitesmoke;
  margin-top: 30px;
}
.line{
  border: 1px;
  border-color: gray;
  width: 600px;
}















 